* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --blue: hsl(240, 73%, 65%);
    --purple: hsl(273, 75%, 66%); 
    --softred: hsl(14, 88%, 65%);
}



body {
    min-height: 100vh;
    background: linear-gradient(var(--purple), var(--blue)) no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.hyper-container {
    padding: 2em;
    border-radius: 15px;
    background-color: white;
    width: 50%;
    

    display: flex;
    justify-content: flex-end;

    .container-text {
        width: 50%;


        .container-question {
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
            
        }

    }
    
}

.fa-angle-down {
    color: var(--softred);
}





// Pour javascript

// .arrowRotate {
//     rotate: 180deg;
// }

// .bold {
//     font-weight: bold;
// }

.container-answer {
    visibility: hidden;
}

.answerVisible {
    visibility: visible; 
}
